/*------------ Alumno ------------------*/
#fecha {
    position: absolute;
    top: 35%;
    left: 40%;
    padding: 10px 120px 10px 121px;
}

#radios {
    position: absolute;
    top: 45%;
    left: 42%; 
}

#alumno {
    position: absolute;
    top: 53%;
    left: 40%;
    padding: 10px 100px 10px 100px;
}

#btn {
    position: absolute;
    top: 63%;
}