#rellenar {
    position: absolute;
    top: 10%;
    left: 33%;
    width: 500px;
    height: 500px;
}

#rellenar_campos{
    position: absolute;
    top: 40%;
    font-size: 30px;
}

#completar{
    position: absolute;
    top: 10%;
    left: 33%;
    width: 500px;
    height: 500px;
}

#completar_campos{
    position: absolute;
    top: 40%;
    font-size: 35px;
}

.menu {
    position: absolute;
    top: 25%;
    font-size: 15px;
    width: 13%;
    height: 60%;
    background-color: #041562;
}

.parrafos{
    position: absolute;
    top: 13%;
    left: 2%;
}

p{
    font-family: 'Rubik Bubbles';
}