#rellenar {
    position: absolute;
    top: 10%;
    left: 33%;
    width: 500px;
    height: 500px;
}

#rellenar_campos{
    position: absolute;
    top: 40%;
    font-size: 30px;
}

#completar{
    position: absolute;
    top: 10%;
    left: 33%;
    width: 500px;
    height: 500px;
}

#completar_campos{
    position: absolute;
    top: 40%;
    font-size: 35px;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.menu {
    position: absolute;
    top: 25%;
    font-size: 15px;
    width: 13%;
    height: 60%;
    background-color: #041562;
}

.parrafos{
    position: absolute;
    top: 13%;
    left: 2%;
}

p {
    font-family: 'Rubik Bubbles';
}

#nombre{
    position: absolute;
    top: 25%;
    left: 40%;
    padding: 10px 100px 0 100px;
}

#perfil{
    position: absolute;
    left: 40%;
    top: 35%;
    padding: 10px 150px 10px 150px;
}

#password{
    position: absolute;
    top: 45%;
    left: 40%;
    padding: 10px 100px 0 100px;
}


/* -------Materias COMBOBOX ------------*/
.materias{
    position: relative;
    top: 40%;
}